
*, *:before, *:after {
  box-sizing: border-box; }
body {
  background-color: #f8e8e8;
  color: #000000;
  font-family: "Roboto", "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.5; }

form input, form textarea, form select {
  outline: none;
  padding: 10px;
  border-radius: 5px;
  border: none; }
  
.button, form input[type="submit"], form button, form input[type="reset"] {
  background: #2f7fc2;
  color: white;
  padding: 10px;
  border-radius: 5px;
  -webkit-transition: .3s ease;
          transition: .3s ease; }
  .button:hover, form input[type="submit"]:hover, form button:hover, form input[type="reset"]:hover {
    background: #5098d4; }
  .button:active, form input[type="submit"]:active, form button:active, form input[type="reset"]:active {
    background: #256499; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  *zoom: 1; }
  .container:after {
    content: " ";
    clear: both;
    display: block;
    overflow: hidden;
    height: 0; }
  @media (min-width: 768px) {
    .container {
      width: 750px; } }
  @media (min-width: 992px) {
    .container {
      width: 970px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1170px; } }

  .row:after {
    content: " ";
    clear: both;
    display: block;
    overflow: hidden;
    height: 0; }

  .aside,.content,.col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

@media (min-width: 992px) {
   .col-md-4, .aside,  .col-md-6, .col-md-8, .content, .col-md-12 {
    float: left; }

  .col-md-4, .aside {
    width: 30%; }

  .col-md-6 {
    width: 50%; }

  .col-md-8, .content {
    width: 60%; }
  }
  .site-header:after {
    content: " ";
    clear: both;
    display: block;
    overflow: hidden;
    
    height: 0; }
  .site-header .logo {
    float: left;
    margin-right: 30px; }
  .site-header .header-type h1 {
    font-size: 30px;
    font-size: 2em;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 10px; }

.main-content {
  padding: 50px 0;
  margin: 0 -15px;
  *zoom: 1; }
  .main-content:after {
    content: " ";
    clear: both;
    display: block;
    overflow: hidden;
    height: 0; }

.content .banner img {
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 3px; }

.feature {
  padding-left: 90px;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  border-top: 1px solid #f1d7d7; }
  .feature .feature-icon {
    text-align: center;
    position: absolute;
    left: 0;
    font-size: 48px;
    font-size: 3.2em;
    color: #2f7fc2; }
  .feature.rounded-icon {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 30px;
    border-top: none; }
    .feature.rounded-icon .feature-icon {
      background: #2f7fc2;
      color: white;
      border-radius: 50%;
      width: 70px;
      height: 70px;
      padding-top: 10px;
      font-size: 36px;
      font-size: 2.4em; }
    .feature.rounded-icon h3 {
      color: #2f7fc2;
      margin-bottom: 15px;
      font-size: 15px;
      font-size: 1em;
      font-weight: 700; }
  .feature .feature-title {
    color: #2f7fc2;
    font-weight: 300;
    margin: 0 0 15px;
    font-size: 30px;
    font-size: 2em; }

.signup-form {
  background: #13435b;
  border-radius: 5px;
  overflow: hidden; }
  .signup-form .form-header {
    background: #0c0d22;
    padding: 40px 30px 10px;
    color: white;
    position: relative;
    margin-bottom: 40px;
    text-align: center; }
    .signup-form .form-header:after {
      content: " ";
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      height: 40px;
       }
    .signup-form .form-header h2 {
      font-size: 36px;
      font-size: 2.4em;
      font-weight: 300;
      margin-top: 0; }
    .signup-form .form-header p {
      font-size: 14px;
      font-size: 0.9333333333em;
      color: #aad1f2; }
  .signup-form .form-content {
    padding: 40px; }
  .signup-form input, .signup-form select {
    width: 100%; }
  .signup-form h4 {
    color: white;
    font-size: 18px;
    font-size: 1.2em;
    font-weight: 300; }
  .signup-form .control {
    display: block;
    margin-bottom: 10px; }
    .signup-form .control.select {
      overflow: hidden;
      background: white;
      border-radius: 3px; }
      .signup-form .control.select select {
        width: 110%;
        appearance: none;
        border-radius: none;
        background: none; }
    .signup-form .control.radio input {
      display: none; }
      .signup-form .control.radio input:checked ~ label:after {
        opacity: 1;
        -webkit-transform: scale(1);
            -ms-transform: scale(1);
                transform: scale(1); }
      .signup-form .control.radio input:checked ~ label {
        color: white; }
    .signup-form .control.radio label {
      cursor: pointer;
      position: relative;
      padding-left: 30px;
      -webkit-transition: .3s ease;
              transition: .3s ease; }
      .signup-form .control.radio label:before {
        content: " ";
        display: inline-block;
        width: 20px;
        height: 20px;
        background: white;
        border-radius: 50px;
        vertical-align: middle;
        margin-right: 10px;
        position: absolute;
        left: 0;
        top: 0; }
      .signup-form .control.radio label:after {
        content: " ";
        position: absolute;
        width: 10px;  
        height: 10px;
        border-radius: 50%;
        background: #2f7fc2;
        opacity: 0;
        -webkit-transition: .3s ease;
                transition: .3s ease;
        left: 5px;
        top: 5px;
        -webkit-transform: scale(1.5);
            -ms-transform: scale(1.5);
                transform: scale(1.5); }
  .signup-form .columned input {
    width: 65%; }
    .signup-form .columned input.small {
      width: 30%;
      margin-left: 3%; }

.site-footer {
  text-align: center;
  padding: 30px 0; }

.social-links a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding-top: 10px;
  font-size: 18px;
  font-size: 1.2em;
  display: inline-block;
  margin: 0 5px;
  text-align: center;
  color: white;
  line-height: normal; }
  .social-links a.facebook {
    background-color: #204385; }
  .social-links a.twitter {
    background-color: #2aa9e0; }
  .social-links a.google-plus {
    background-color: #d3492c; }
  .social-links a.pinterest {
    background-color: #ca2128; }
